
  	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <title>MuckBo</title>
  	<!-- Font -->
    <link rel='dns-prefetch' href='//fonts.googleapis.com'>
	<link href="https://fonts.googleapis.com/css?family=Anton|Black+Han+Sans|Do+Hyeon|Encode+Sans+Condensed|Fjalla+One|Gugi|Jua|Kirang+Haerang|Nanum+Gothic|Nanum+Myeongjo|Song+Myung|Sunflower:300|Yeon+Sung" rel="stylesheet">    
	</head>
	
	<footer style="font-family:Nanum Gothic">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget widget-about">
							<div class="logo-ft">
								<a href="/" title="">
									먹보
								</a>
							</div>
							<p>
								오직 인-싸로만 구성되어 있습니다.
							</p>
						</div><!-- /.widget-about -->
					</div><!-- /.col-md-3 -->

					<div class="col-md-3">
						<div class="widget widget-contact">
							<h3 class="widget-title">Contact</h3>
							<ul class="contact-infomation">
								<li class="address">
									인하대학교
								</li>
								<li class="phone">
									(+82) 10-2620-6127
								</li>
								<li class="email">
									insa@icloud.com
								</li>
							</ul>
						</div><!-- /.widget-contact -->
					</div><!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="widget widget-map">
					
						</div><!-- /.widget-map -->
					</div><!-- /.col-md-3 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</footer><!-- /footer -->
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<script>

</script>
<% end %>