  	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <title>MuckBo</title>
  	<!-- Font -->
    <link rel='dns-prefetch' href='//fonts.googleapis.com'>
	<link href="https://fonts.googleapis.com/css?family=Anton|Black+Han+Sans|Do+Hyeon|Encode+Sans+Condensed|Fjalla+One|Gugi|Jua|Kirang+Haerang|Nanum+Gothic|Nanum+Myeongjo|Song+Myung|Sunflower:300|Yeon+Sung|Gothic+A1|Poor+Story" rel="stylesheet">    
	</head>
		<div class="header">
			<div class="container-fluid">
				<div class="row" >
					<div class="col-md-12">
						<div class="header-wrap">
							<div id="logo" class="logo" >
								<a href="/" title="" style="font-family:Gothic A1">
									먹보
								</a>
							</div><!-- /.logo -->
							<div class="nav-wrap">
								<nav id="mainnav" class="mainnav">
									
									 <ul class="menu" style="font-family:Nanum Gothic" >
									 	<li>
									 		<a href="/" title="" >Room List</a>
<!--									 		<ul class="submenu">
									 			<li>
									 				<a href="updateProfile.html" title="">프로필 수정</a>
									 			</li>
									 			<li>
									 				<a href="updatePW.html" title="">비밀번호 변경</a>
									 			</li>
									 		
									 		</ul>
-->									 	</li>
										<li>
									 		<a href="speed_matching.html" title="">Quick Match</a>
									 	</li>
									 	<li>
									 		<a href="http://muckbo-devise-chat-binn02.c9users.io/report" title="">report</a>
									 	</li>
									 	<li>
									 	<!--	<1% if !user_signed_in? %>-->
									 	<!--		<a href="/users/sign_in" title="">Log In</a>								 		-->
									 	<!--	<1% else %>-->
											<!--	<a href="/sign_out" title="">Log out</a>								 		-->
											<!--<1% end %>-->
										      <% if user_signed_in?%>
								                <%= link_to  "log out",'/users/sign_out', method: "delete"%>
								             <%else%>
								               <%= link_to  "log in",'/users/sign_in', method: "get"%>
								             <%end%>	
											
									 	</li>
									 </ul>
								</nav><!-- /.mainnav -->
								<!--<div class="show-search">-->
								<!--	<button><span class="ti-search"></span></button>-->
								<!--	<div class="submenu top-search search-header">-->
					   <!--                 <form role="search" method="get" class="search-form" action="#">-->
								<!--			<label>-->
								<!--				<input type="search" class="search-field" placeholder="Search …" value="" name="search">-->
								<!--			</label>-->
								<!--			<button class="search-submit-form" title="Search now"><i class="fa fa-search" aria-hidden="true"></i></button>-->
								<!--		</form>                -->
								<!--	</div>-->
								<!--</div> /.show-search -->
								<div class="btn-menu">
		                            <span></span>
		                        </div><!-- //mobile menu button -->
							</div><!-- /.nav-wrap -->
						</div><!-- /.header-wrap -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div><!-- /.header -->