
@import 'themify-icons';
@import 'elegant';
@import 'shortcodes';
@import 'animate.min';
@import 'owl.carousel';
@import 'style';
@import 'responsive';

@import 'layers';
@import 'settings';

.center {
    margin: auto;
    width: 50%;
}
.page-title .page-title-heading {
    margin-bottom: 0px;
}

